:root {
  --light-color: #0098d2;
  --dark-color: #333;
  --bg-color: #D3D3D3;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: var(--bg-color);
}

a:link {
  text-decoration: none;
  color: var(--dark-color);
}

.navbar {
  display: flex;
  width: 100%;
  background-color: var(--light-color);
  overflow: auto;
  border-radius: 10px;
}

.navbar a {
  float: left;
  padding: 13px;
  color: var(--dark-color);
  flex: 1;
  justify-content: space-between;
  text-align: center;
}

.navbar a:hover{
  background-color: var(--dark-color);
  color: var(--light-color);
}

.navbar a.active {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.cube-img {
  margin: 30px;
  width: 300px;
  height: 300px;
  border-style: solid;
  border-width: 10px;
  border-radius: 60px;
  border-color: var(--light-color)
}

.text-container {
  text-align: center;
  color: var(--dark-color);
}

.image-container {
  float: left;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--light-color);
  color: var(--dark-color);
}
