/*Variáveis pra facilitar minha vida*/

:root {
  --light-color: #009000;
  --slightly-dark-color: #555;
  --dark-color: #333;
  --bg-color: #D3D3D3;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: var(--bg-color);
}

#content-wrapper{
  padding-bottom: 120px; 
}

/*N gosto muito daquela cor de link, então tirei*/

a:link {
  color: var(--dark-color);
}

/*Navbar responsiva*/

.navbar {
  display: flex;
  width: 100%;
  background-color: var(--light-color);
  overflow: auto;
  border-radius: 10px;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 13px;
  flex: 1;
  color: var(--dark-color);
}

/*Muda a cor quando o mause tá em cima ou quando tá ativa*/

.navbar a:hover {
  background-color: var(--slightly-dark-color);
  color: var(--light-color);
}

.navbar a.active {
  background-color: var(--dark-color);
  color: var(--light-color);
}

/*Os textos*/

#text-container {
  float: center;
  text-align: center;
  color: var(--dark-color);
  width: 100%;
  height: auto;
  margin-top: 80px;
  margin-bottom: 240px;
}

@media only screen and (max-width: 765px) {
  #text-container {
    margin-bottom: 0px;
  }
}

/*Identação padrão de parágrafo*/

#text {
  text-align: left !important;
  text-indent: 30px;
}

/*Controlando a imagem (Também responsiva)*/

#image-container {
  float: left;
}

#cube-img {
  margin: 30px;
  border-style: solid;
  border-width: 10px;
  border-radius: 20%;
  border-color: var(--light-color);
  width: 60%;
  height: auto;
}

/*A posição do preço*/

#price-container-wrapper{
  text-align: center;
  position: absolute; 
  left: 0;
  bottom: 50px auto;
  width: 100%;
}

#price-container {
  display: inline-block;
  position: relative;
  background-color: var(--light-color);
  color: var(--dark-color);
  border-radius: 100%;
}

#price {
  font-family: arial;
  font-size: 20px;
}

/*A posição do footer*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--dark-color);
  color: var(--dark-color);
  height: 50px;      
}

/*Made with </> and ♥ by Edgar Marques*/

.footer-text {
  color: white;
  float: right;
  margin-right: 5px;
}

/*Ícones de Rede Social geral*/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
  float: left;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/*Mudar a opacidade com o mouse em cima*/

.fa:hover {
  opacity: 0.7;
}

/*E os ícones de cada Rede Social e suas cores*/

.fa-facebook {
  background: #3B5998;
  color: white !important;
}

.fa-twitter {
  background: #55ACEE;
  color: white !important;
}

.fa-pinterest {
  background: #cb2027;
  color: white !important;
}